.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}

#skip-link {
	color: $color-white;
	display: block;
	text-align: center;
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);

	&:focus {
		padding: 0.5em 1em;
		background-color: $color-orange;
		clip: auto;
	}
}
