@keyframes mobile-nav-enter {
	0% {
		transform: scaleY(0)
	}

	100% {
		transform: scaleY(1);
	}
}

@keyframes mobile-nav-exit {
	0% {
		transform: scaleY(1)
	}

	100% {
		transform: scaleY(0);
	}
}
